@use "../_base/global.scss" as *;

.Client {
  margin-top: 100px;
  @include pc {
    margin-top: 150px;
  }
}
.Client__Inner {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-left: 20px;
  margin-left: 20px;
  @include pc {
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 38px;
  }
}

.Client__Label {
  @include font-xs(500);
  margin-bottom: 14px;
  @include pc {
    margin-bottom: 32px;
  }
}
.Client__Title {
  @include font(32px);
  @include pc {
    @include font(52px);
  }
}

.Client__WorkedWrap {
  display: flex;
  column-gap: 26px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @include pc {
    column-gap: 38px;
  }
}
.Client__WorkedWrap::-webkit-scrollbar {
  display: none;
}

.Client__Worked {
  width: 80%;
  flex-shrink: 0;
  @include pc {
    max-width: 468px;
  }
}

.Client__WorkedImage {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @include pc {
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}

.Client__WorkedTextWrap {
  margin-top: 18px;
  // row-gap: 16px;
  @include pc {
    margin-top: 32px;
  }
}

.Client__WorkedTitle {
  @include font-base(24px, 500);
  margin-bottom: 16px;
  @include pc {
    // @include font-base(26px, 500);
    @include font(26px);
    margin-bottom: 24px;
  }
}

.Client__WorkedTagWrap {
  display: flex;
  column-gap: 14px;
  margin-bottom: 16px;
  @include pc {
    margin-bottom: 24px;
  }
}

.Client__WorkedTag {
  font-size: 10px;
  background-color: $gray-1;
  color: $gray-4;
  padding: 4px;
  @include pc {
    font-size: 14px;
    padding: 6px 12px;
  }
}
.Client__WorkLink {
  display: inline-flex;
  border-radius: 999px;
  border: 1px solid $gray-3;
  font-size: 14px;
  justify-content: space-between;
  color: $gray-6;
  padding: 8px 16px;
  column-gap: 12px;
  img {
    width: 10px;
  }
  &:hover {
    opacity: 0.4;
  }
  @include pc {
    font-size: 16px;
    padding: 12px 24px;
    column-gap: 14px;
    img {
      width: 16px;
    }
  }
}
