@use "../_base/global.scss" as *;

.Concept {
  margin-top: 100px;
  @include pc {
    margin-top: 150px;
  }
}

.Concept__Inner {
  padding: 0 20px;
  margin: 0 20px;
}

.Concept__Label {
  @include font-xs(500);
  margin-bottom: 14px;
  text-align: left;
  @include pc {
    margin-bottom: 18px;
    text-align: center;
  }
}
.Concept__Title {
  @include font(28px);
  font-weight: 400;
  word-break: keep-all;
  overflow-wrap: break-word;
  letter-spacing: -0.02em;
  @include pc {
    @include font(46px);
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.04em;
  }
}

.Concept__Title--PcNone {
  display: block;
  @include pc {
    display: none;
  }
}

.Concept__PcLine {
  display: none;
  @include pc {
    display: block;
    width: 34px;
    height: 1px;
    background-color: $gray-5;
    margin: 36px auto;
  }
}
.Concept__SubTitle {
  @include font-base(18px, 400);
  margin-top: 32px;
  margin-bottom: 16px;
  word-break: keep-all;
  overflow-wrap: break-word;
  @include pc {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 0;
  }
}

.Concept__SubTitle--PcNone {
  @include pc {
    display: none;
  }
}
.Concept__discription {
  @include font-base(15px, 400);
  @include pc {
    @include font-base(18px, 400);
    text-align: center;
    line-height: 1.8;
  }
}
.Concept__discription--PcNone {
  display: none;
  @include pc {
    display: block;
  }
}

.Concept__discription--PcBlock {
  display: none;
  @include pc {
    display: block;
  }
}