@use "../_base/global.scss" as *;

.Service {
  margin-top: 100px;
  @include pc {
    margin-top: 150px;
  }
}
.Service__Inner {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 32px;
  @include pc {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 1043px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
.Service__TextWrap {
  padding: 0 20px;
  margin: 0 20px;
  @include pc {
    padding: 0;
    margin: 0;
    width: 40%;
  }
}
.Service__Label {
  @include font-xs(500);
  margin-bottom: 14px;
  @include pc {
    margin-bottom: 32px;
  }
}
.Service__Title {
  @include font(28px);
  word-break: keep-all;
  overflow-wrap: break-word;
  margin-bottom: 18px;
  @include pc {
    font-size: 36px;
    margin-bottom: 32px;
  }
}

.Service__description {
  @include font-base(16px, 400);
  word-break: keep-all;
  overflow-wrap: break-word;
}

.Service__ImageWrap {
  padding: 0 20px;
  margin: 0 10px;
  @include pc {
    padding: 0;
    margin: 0;
  }
}

.Service__SpImage {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
  @include pc {
    border-radius: 12px;
    max-width: 400px;
    display: none;
  }
}

.Service__PcImage {
  display: none;
  @include pc {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 12px;
    max-width: 400px;
  }
}

.js-Servcie__SpImage {
  animation: imgfadeService 4s infinite;
  opacity: 0;
}

@keyframes imgfadeService {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
